.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0088cc;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.card__desc {
  font-weight: 400;
  font-size: 1rem;
  max-width: 29ch;
  text-align: center;
}